.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;

  &__content {
    display: block;

    &--centered {
      text-align: center;
    }
  }
}
